<div class="__wrapper" fxLayout="column" fxLayoutAlign="space-between">
  <ul class="__menu">
    <li class="__menu-item --active">
      <a class="__menu-link" routerLink="/dashboard" fxLayout="column" fxLayoutAlign="center center">
        <span class="gbi-speed"></span>
      </a>
    </li>

    <li class="__menu-item">
      <a class="__menu-link" routerLink="/dashboard" fxLayout="column" fxLayoutAlign="center center">
        <span class="gbi-web"></span>
      </a>
    </li>
  </ul>

  <ul class="__menu">
    <li class="__menu-item">
      <a class="__menu-link" routerLink="/dashboard" fxLayout="column" fxLayoutAlign="center center">
        <span class="gbi-globe"></span>
      </a>
    </li>

    <li class="__menu-item">
      <a class="__menu-link" routerLink="/dashboard" fxLayout="column" fxLayoutAlign="center center">
        <span class="gbi-settings"></span>
      </a>
    </li>
  </ul>
</div>
