@import "core";

.__list {
  margin: 0;
  padding: rem(30) rem(18) rem(18);

  list-style-type: none;
}

.__item {
  font-size: rem(14);
  letter-spacing: 0.35px;
  line-height: 1;
}

.__name {
  display: inline-block;

  margin-left: rem(26);
}

.__warning {
  color: red;
}

.__success {
  color: var(--bright-lime-green);
}
