:root {
  //* root sizes
  //--content-width: #{rem(1248)}; //1200
  //--content-padding: #{rem(24)};
  //--header-hgt: #{rem(80)};

  //* root colors

  // primary colors
  --cyan: #03edfa;
  --black: #000000;
  --greyish-brown: #4e4e4e;
  --greyish-brown-two: #474747;
  --cl-white: #ffffff;
  --dark-grey-blue: #26374c;
  --cyan-two: #00fff6;
  --green: #34ba1e;
  --orangey-red: #ff3728;
  --bright-lime-green: #54ff00;
  --black-two: #3a3939;
  --black-three: #343434;
  --dark-blue-grey: #223247;
  --cyan-three: #05fff6;
  --cyan-four: #00fff7;
  --black-four: #252525;
  --dark: #1c293b;
  --blue-grey: #7893aa;
  --cl-white-4: rgba(255, 255, 255, 0.04);
}
