@import "core";

:host {
  position: relative;

  display: flex;
  align-items: center;

  width: auto;
  min-width: max-content;
  height: rem(60);

  background-color: var(--greyish-brown-two);
  box-shadow: 0 1px 0 0 var(--cyan);
}

.__logo {
  padding: rem(12);

  font-size: rem(10);
  font-weight: 300;
  line-height: 2.2;
  letter-spacing: 0.5px;
  color: var(--cyan-two);
  text-align: center;

  &:before {
    width: rem(70);
    height: rem(24);

    content: '';

    background: $img-logo-2 no-repeat center center / contain;
  }
}

.__btn {
  display: inline-flex;

  padding: rem(10);

  font-size: rem(19);
  color: var(--cl-white);

  border: none;
  background: none;

  &:hover {
    color: var(--cyan-two);
  }

  &--notif {
    position: relative;

    color: var(--cyan-two);

    &:after {
      position: absolute;
      top: 0;
      right: 0;

      content: '';

      width: rem(8);
      height: rem(8);

      border-radius: 50%;

      background-color: #ff151f;

      transform: translate(-5px, 0);
    }
  }

  &--dashboard {
    font-size: rem(16);
  }
}

.__right {
  height: 100%;

  margin-left: auto;
}

.__user {
  height: 100%;

  margin-left: rem(10);
  padding: 0 rem(6) 0 rem(34);

  font-size: rem(13);
  color: var(--cl-white);

  box-shadow: -1px 0 0 0 rgba(#fff, .1);
}

.__user-avatar {
  width: rem(36);
  height: rem(36);

  margin-left: rem(18);

  font-size: rem(17);
  font-weight: 700;

  color: var(--cl-white);

  border-radius: rem(12);
  background-color: var(--cyan-three);

  transform: translate(-2px, 0);
}

.__btn-arrow {
  padding: rem(10);
  font-size: rem(8);

  color: var(--cl-white);

  border: none;
  background: none;

  cursor: pointer;

  &:hover {
    color: var(--cyan-two);
  }
}

.__btn-dropdown {
  height: 100%;

  padding: 0 rem(28);

  color: var(--cl-white);

  border: none;
  background: none;
  box-shadow: -1px 0 0 0 rgba(#fff, .1), 1px 0 0 0 rgba(#fff, .1);

  .gbi-tr-left {
    margin-left: rem(8);

    font-size: rem(10);

    transform: rotate(-90deg);
  }
}

.__aside {
  position: fixed;
  top: rem(60);
  right: 0;
  bottom: 0;

  z-index: 100;

  display: grid;
  grid-template-rows: 1fr max-content;

  width: rem(322);
  //height: с100vh;

  //background-color: var(--black-two);

  background: rgba(#3a3939, .9);
  backdrop-filter: blur(4px);

  transition: opacity .5s;

  &.--is-open {
    opacity: 1;
    visibility: visible;
  }

  &:not(.--is-open) {
    opacity: 0;
    visibility: hidden;
  }
}

.__aside-foot {

  background-color: rgba(#000, 0.38);
}

.__aside-foot-top {
  padding: rem(16);

  border-bottom: 2px solid #555454;
}

.__aside-foot-bottom {
  padding: rem(12) rem(24);
}

.__aside-btn {
  color: var(--cl-white);

  border: none;
  background: transparent;
}

.__aside-foot-top-name {
  font-size: 19px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.37;
  letter-spacing: normal;
  text-align: left;
  color: var(--cl-white);
}

.__aside-foot-top-text {
  font-size: 11.9px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.84;
  letter-spacing: 0.6px;
  text-align: left;
  color: var(--cyan-four);
}

.__aside-foot-top-desc {
  font-size: 11px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.73;
  letter-spacing: normal;
  text-align: left;
  color: var(--cl-white);
}

.__aside-item {
  overflow: hidden;

  &:not(:last-child) {
    border-bottom: 1px solid #555454;
  }
}

.__aside-item-head {
  min-height: rem(30);

  padding: 0 rem(18);

  font-size: rem(10);
  font-weight: 500;
  line-height: 1;
  letter-spacing: 1.6px;
  text-align: left;
  color: var(--cl-white);

  background-color: var(--black-two);
  box-shadow: 0 1px 7px 0 rgba(#000, 0.051);
}

.__aside-item-btn {
  font-size: rem(11);
  color: var(--cl-white);

  border: none;
  background: transparent;
}

.__aside-item-content {
  padding: rem(16);

  &.--pdd {
    padding: 0;
  }

  img {
    display: inline-block;

    object-position: center;
    object-fit: contain;
  }
}

.__aside-item-link {
  i {
    padding-right: rem(15);

    line-height: 1;

    font-size: rem(15);
  }
}

@include max-wide(phonesLg) {
  .__btn-dropdown, .__user-name {
    display: none !important;
  }

  .__user {
    padding-left: rem(20);
  }

  .__user-avatar {
    margin-left: 0;
  }
}

@include min-wide(phonesLg) {
  .__btn--dashboard {
    display: none !important;
  }
}
