<div class="__logo" gdInline gdGap="5px" gdAlignColumns="center" gdAlignRows="center">
  executive
</div>

<button class="__btn __btn--dashboard gbi-menu"></button>

<button class="__btn-dropdown" fxLayoutAlign="center center">
  <mark>Dashboard</mark>
  <i class="gbi-tr-left"></i>
</button>

<app-search></app-search>

<div class="__right" fxLayout="row" fxLayoutAlign="center center">
  <div class="__btns" fxLayoutAlign="center center">
    <button class="__btn gbi-bricks"></button>
    <button class="__btn __btn--notif gbi-notification "></button>
  </div>


  <div class="__user" fxLayoutAlign="center center">

    <span class="__user-name">Hi, Joe!</span>

    <mark class="__user-avatar" fxLayoutAlign="center center">J</mark>
    <button class="__btn-arrow gbi-arrow-down"></button>
  </div>
</div>



