@import "core";

:host {
  min-height: rem(60);
}

.__wrapper {
  min-height: 100%;

  background: #000;
}

.__caption {
  font-size: 11px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.55;
  letter-spacing: 0.83px;
  text-align: left;
  text-transform: uppercase;
  color: #fff;
}

.__amount {
  width: max-content;
  min-width: rem(83);
  min-height: 100%;

  padding: 0 $contentGutterX2;

  background: #1d2b3d;

  font-size: rem(22);
  font-weight: 300;
  letter-spacing: 0.55px;
  text-align: left;
  color: #fff;
}

.__container {
  width: 100%;
  padding: rem(5);
}

.__progress {
  width: 100%;

  padding: rem(7) 0;
}

.__main-icon {
  color: var(--blue-grey);

  margin-right: rem(7);
}

.__value {
  margin-left: rem(8);

  font-size: rem(11);
  color: var(--cl-white);
}

.__arrow-icon {
  font-size: 12px;
  color: var(--green);

  &.--down {
    color: var(--orangey-red);
  }
}

@include max-wide(phones) {
  .__amount {
    min-width: rem(100);

    padding: 0 $contentGutter;
  }
}
