<div class="__wrapper" fxLayout="row">
  <div class="__amount" fxLayoutAlign="center center">
    {{ amount }}
  </div>

  <div class="__progress-bar">
    <div>
      <span class="__main-icon" [ngClass]="icon"></span>
      <span class="__caption">{{ caption }}</span>
    </div>

    <div>
      <ngb-progressbar type="info" [value]="value" height="10px"></ngb-progressbar>
    </div>

    <div>
      <span class="__arrow-icon" [ngClass]="{'gbi-arrow-line-up': growingUp, 'gbi-arrow-line-down': !growingUp, '--down': !growingUp}"></span>
      <span class="__value">{{ value }}% than APR 20</span>
    </div>
  </div>
</div>
