<div class="__title">Alarms</div>

<div fxLayout="row">
  <div class="__item" fxLayout="column" fxLayoutAlign="center center">
    <span class="gbi-critical --critical"></span>
    <div class="__value">2</div>
    <div class="__status">Critical</div>
  </div>

  <div class="__item" fxLayout="column" fxLayoutAlign="center center">
    <span class="gbi-critical --major"></span>
    <div class="__value">2</div>
    <div class="__status">Major</div>
  </div>

  <div class="__item" fxLayout="column" fxLayoutAlign="center center">
    <span class="gbi-critical --minor"></span>
    <div class="__value">5</div>
    <div class="__status">Minor</div>
  </div>
</div>
