.__header {
  height: 41px;

  background: #000000;

  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}

.__wrapper {
  color: #ffffff;

  background-image: linear-gradient(to top, #000, #223247), linear-gradient(to top, #ffffff, #fafbfc);
}

.__draggable {
  cursor: move;
}
