@import "core";

:host {
  display: inline-block;

  overflow: hidden;

  &.--cameras {
    width: 100%;

    .__draggable{
      display: none;
    }

    .__wrapper {
      padding: rem(8);

      display: grid !important;
      grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
      grid-gap: $contentGutterX3;
    }
  }
}

.__header {
  @extend %card-header;

  border-radius: rem(4) rem(4) 0 0;
}

.__wrapper {
  height: 100%;

  color: #ffffff;

  background-image: linear-gradient(to top, #000, #223247), linear-gradient(to top, #ffffff, #fafbfc);

  border-radius: 0 0 rem(4) rem(4);
}

.__draggable {
  cursor: move;
}

.__description {
  color: var(--cyan-two);
}
