<div fxLayout="column">

  <div>
    1019 Return visitors
    <ngb-progressbar class="__progress-bar" type="info" [value]="50" height="6px"></ngb-progressbar>
  </div>

  <div>
    404 Net new visitors
    <ngb-progressbar class="__progress-bar" type="info" [value]="50" height="6px"></ngb-progressbar>
  </div>

  <div>
    1423 Total visitors
    <ngb-progressbar class="__progress-bar" type="info" [value]="50" height="6px"></ngb-progressbar>
  </div>

  <div>
    1670 Total visits
    <ngb-progressbar class="__progress-bar" type="info" [value]="50" height="6px"></ngb-progressbar>
  </div>

</div>
