<div class="__wrapper" fxLayout="column">

  <div class="__item">
    <div class="__info" fxLayout="row" fxLayoutAlign="space-around">
      <div fxFlex>1019</div>
      <div fxFlex>Return visitors</div>
      <div></div>
    </div>
    <ngb-progressbar class="__progress-bar" type="info" [value]="60" height="6px"></ngb-progressbar>
  </div>

  <div class="__item">
    <div class="__info" fxLayout="row" fxLayoutAlign="space-around">
      <div fxFlex>404</div>
      <div fxFlex>Net new visitors</div>
      <div></div>
    </div>
    <ngb-progressbar class="__progress-bar" type="info" [value]="30" height="6px"></ngb-progressbar>
  </div>

  <div class="__item">
    <div class="__info" fxLayout="row" fxLayoutAlign="space-around">
      <div fxFlex>1423</div>
      <div fxFlex>Total visitors</div>
      <div></div>
    </div>
    <ngb-progressbar class="__progress-bar" type="info" [value]="70" height="6px"></ngb-progressbar>
  </div>

  <div class="__item">
    <div class="__info" fxLayout="row" fxLayoutAlign="space-around">
      <div fxFlex>1670</div>
      <div fxFlex>Total visits</div>
      <div></div>
    </div>
    <ngb-progressbar class="__progress-bar" type="info" [value]="80" height="6px"></ngb-progressbar>
  </div>

</div>
