<div class="__header" fxLayout="row" fxLayoutAlign="space-between" fxLayoutGap="10px">
  <app-stats-progress-bar icon="" caption="Total users" [value]="80" [amount]="3" fxFlex></app-stats-progress-bar>
  <app-stats-progress-bar icon="" caption="Total sessions" [value]="70" [amount]="430" fxFlex></app-stats-progress-bar>
  <app-stats-progress-bar icon="" caption="Avg. session time" [value]="50" [amount]="'8m31s'" fxFlex></app-stats-progress-bar>
  <app-stats-progress-bar icon="" caption="Avg. download" [value]="80" [amount]="'1.96mb'" fxFlex></app-stats-progress-bar>
  <app-stats-progress-bar icon="" caption="Avg. download" [value]="80" [amount]="'0.11mb'" fxFlex></app-stats-progress-bar>
</div>

<div fxLayout="row" fxLayoutAlign="space-between" fxLayoutGap="10px">
  <app-info-card [title]="'test'" fxFlex>
    <app-chart-line></app-chart-line>
  </app-info-card>

  <app-info-card [title]="'test'" fxFlex>
    Some content
  </app-info-card>

  <app-info-card [title]="'test'" fxFlex>
    Some content
  </app-info-card>

  <app-info-card [title]="'Network Services'" fxFlex>
    <app-stats-list></app-stats-list>
  </app-info-card>
</div>

<div fxLayout="row" fxLayoutAlign="space-between" fxLayoutGap="10px">
  <app-camera-preview imgUrl="/assets/images/1.png" [value]="25" link="https//www.google.com"
                      fxFlex></app-camera-preview>
</div>

