<div class="__left" fxLayout="column" fxLayoutAlign="end">

  <img class="__left-logo" src="assets/images/pmy-logo-new-white@3x.png">
</div>

<aside class="__right" fxLayout="column" fxLayoutAlign="center center">
  <div class="__capt">Sign in</div>

  <form class="__form" gdGap="1.5rem" [formGroup]="form" (submit)="onSubmit()">
    <app-input label="Email" type="email" placeholder="Enter your email" formControlName="email"></app-input>

    <app-input type="password" label="Password" placeholder="Enter your password" formControlName="password"></app-input>

    <app-button>Sign in</app-button>
  </form>

  <a class="__link" href="">Forgot your password?</a>

  <div class="__foot" gdGap="11px" gdColumns="max-content max-content">
    Don’t have an account?

    <a class="__link" href="">Sign up</a>
  </div>
</aside>
